* {
  font-size: 12px;
  font-family: Iosevka Nerd Font Mono;
}

window#waybar {
  background: #2e3440;
  color: #d8dee9;
}

#workspaces,
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
  padding: 0px 5px 0px 0px;
}

#workspaces button {
  padding: 0px 0px;
  color: #88c0d0;
}
#workspaces button.persistent {
  color: #81a1c1;
}
#workspaces button.focused {
  color: #88c0d0;
  background-color: #3b4252;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}
#workspaces button:hover {
  background: #3b4252;
}

#window {
  color: #81a1c1;
}

#pulseaudio {
  color: #bf616a;
}
#memory {
  color: #ebcb8b;
}
#cpu {
  color: #a3be8c;
}

#disk {
  color: #81a1c1;
}

#clock {
  color: #b48ead;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
  padding: 0 10px;
}
